[Desktop Entry]
Icon=kwalletmanager

Type=Service
X-KDE-ServiceTypes=KCModule

Exec=kcmshell4 kwalletconfig
X-DocPath=kwallet/index.html#kwallet-kcontrol-module
X-KDE-Library=kcm_kwallet
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=account-details

Name=KDE Wallet
Comment=KDE Wallet Configuration
X-KDE-Keywords=Wallet,Form Fill,Passwords,Form Data
