[Desktop Entry]
Name=KDE Wallet Management Tool
Name[az]=KDE Cüzdanı İdarəetmə Vasitəsi
Name[ca]=Eina per a la gestió de carteres del KDE
Name[cs]=Správce úschovny KDE
Name[da]=Tegnebogsværktøj fra KDE
Name[de]=KDE-Dienstprogramm für Passwörter
Name[el]=Εργαλείο διαχείρισης πορτοφολιού του KDE
Name[en_GB]=KDE Wallet Management Tool
Name[es]=Herramienta de gestión de carteras de KDE
Name[fi]=KDE:n lompakonhallintatyökalu
Name[fr]=Outil de gestion de portefeuilles de KDE
Name[ia]=Instrumento per gerer portafolio de KDE
Name[it]=Strumento per la gestione dei portafogli di KDE
Name[ko]=KDE 지갑 관리 도구
Name[lt]=KDE slaptažodinių tvarkymo įrankis
Name[nl]=KDE hulpmiddel voor portefeuillebeheer
Name[nn]=KDE-verktøy for å handsama lommebøker
Name[pl]=Zarządzania portfelem KDE
Name[pt]=Ferramenta de Gestão da Carteira do KDE
Name[pt_BR]=Ferramenta para gerenciamento de carteiras do KDE
Name[ro]=Utilitar KDE de administrat portofele
Name[ru]=Управление бумажниками KDE
Name[sl]=KDE Wallet Management Tool
Name[sv]=KDE:s verktyg för plånbokshantering
Name[uk]=Засіб KDE для керування торбинками
Name[x-test]=xxKDE Wallet Management Toolxx
Name[zh_CN]=KDE 钱包管理工具
Comment=KDE Wallet Management Tool
Comment[ar]=أداة لإدارة محفظة كدي
Comment[az]=KDE Cüzdanı İdarəetmə Vasitəsi
Comment[ca]=Eina per a la gestió de carteres del KDE
Comment[ca@valencia]=Eina per a la gestió de carteres del KDE
Comment[cs]=Správce úschovny KDE
Comment[da]=Værktøj til håndtering af KDE's tegnebog
Comment[de]=KDE-Dienstprogramm für Passwörter
Comment[el]=Εργαλείο διαχείρισης πορτοφολιού του KDE
Comment[en_GB]=KDE Wallet Management Tool
Comment[es]=Herramienta de gestión de carteras de KDE
Comment[et]=KDE turvalaeka haldur
Comment[eu]=KDEren zorroa kudeatzeko tresna
Comment[fi]=KDE:n lompakonhallinta
Comment[fr]=Outil de gestion de portefeuilles de KDE
Comment[gl]=Xestor de contrasinais de KDE
Comment[hu]=KDE Wallet jelszókezelő eszköz
Comment[ia]=Instrumento per gerer portafolio de KDE
Comment[it]=Strumento per la gestione dei portafogli di KDE
Comment[ko]=KDE 지갑 관리 도구
Comment[lt]=KDE slaptažodinių tvarkymo įrankis
Comment[nl]=KDE hulpmiddel voor portefeuillebeheer
Comment[nn]=KDE-verktøy for å handtera lommebøker
Comment[pa]=KDE ਵਾਲਿਟ ਇੰਤਜ਼ਾਮ ਟੂਲ
Comment[pl]=Zarządzania portfelem KDE
Comment[pt]=Ferramenta de Gestão da Carteira do KDE
Comment[pt_BR]=Ferramenta para gerenciamento de carteiras do KDE
Comment[ro]=Utilitar KDE de administrat portofele
Comment[ru]=Управление бумажниками KDE
Comment[sk]=Nástroj pre správu KDE Wallet
Comment[sl]=Orodje za upravljanje z listnicami v KDE
Comment[sr]=КДЕ алатка за управљање новчаницима
Comment[sr@ijekavian]=КДЕ алатка за управљање новчаницима
Comment[sr@ijekavianlatin]=KDE alatka za upravljanje novčanicima
Comment[sr@latin]=KDE alatka za upravljanje novčanicima
Comment[sv]=KDE:s hanteringsverktyg för plånbok
Comment[tr]=KDE Cüzdan Yönetim Aracı
Comment[uk]=Засіб KDE для керування торбинками
Comment[x-test]=xxKDE Wallet Management Toolxx
Comment[zh_CN]=KDE 钱包管理工具
Comment[zh_TW]=KDE 錢包管理工具
Exec=kwalletmanager5 --kwalletd
Icon=kwalletmanager
Type=Application
Terminal=false
X-KDE-StartupNotify=false
NoDisplay=true
X-DocPath=help:/kwallet5/index.html
