[Desktop Entry]
Encoding=UTF-8
Name=Wallet Management Tool
Name[x-test]=xxWallet Management Toolxx
Exec=kwalletmanager --kwalletd
Icon=kwalletmanager
Type=Application
Terminal=false
X-KDE-StartupNotify=false
NoDisplay=true
