[Desktop Entry]
Name=KWalletManager
GenericName=Wallet Management Tool
Exec=kwalletmanager %u
MimeType=application/x-kwallet;
InitialPreference=6
Icon=kwalletmanager
Type=Application
Terminal=false
X-KDE-StartupNotify=false
Categories=Qt;KDE;System;Security;
X-DocPath=kwallet/index.html
