<!DOCTYPE kpartgui>
<kpartgui name="kwalletmanager" version="1">
  <MenuBar>
    <Menu name="file"><text>&amp;File</text>
      <Action name="wallet_create"/>
    </Menu>
    <Menu name="settings"><text>&amp;Settings</text>
      <Action name="wallet_settings"/>
    </Menu>
    <Menu name="help"><text>&amp;Help</text>
    </Menu>
  </MenuBar>
</kpartgui>
