[Desktop Entry]
Name=Wallet Management Tool
Exec=kwalletmanager --kwalletd
Icon=kwalletmanager
Type=Application
Terminal=false
X-KDE-StartupNotify=false
NoDisplay=true

