[Desktop Entry]
Name=KDE Wallet Management Tool
Name[ar]=أداة لإدارة محفظة كِيدِي
Name[az]=KDE Cüzdanı İdarəetmə Vasitəsi
Name[bg]=Инструмент за управление на портфейла на KDE
Name[ca]=Eina per a la gestió de carteres del KDE
Name[ca@valencia]=Eina per a la gestió de carteres de KDE
Name[cs]=Správce úschovny KDE
Name[da]=Tegnebogsværktøj fra KDE
Name[de]=KDE-Dienstprogramm für Passwörter
Name[el]=Εργαλείο διαχείρισης πορτοφολιού του KDE
Name[en_GB]=KDE Wallet Management Tool
Name[eo]=KDE Monujo-Administra Ilo
Name[es]=Herramienta de gestión de carteras de KDE
Name[eu]=KDE Zorroa kudeatzeko tresna
Name[fi]=KDE:n lompakonhallintatyökalu
Name[fr]=Outil de gestion de portefeuilles de KDE
Name[gl]=Ferramenta de xestión de carteiras de KDE
Name[he]=כלי לניהול ארנקים ב־KDE
Name[hu]=KDE Wallet jelszókezelő eszköz
Name[ia]=Instrumento per gerer portafolio de KDE
Name[id]=Alat Pengelola Dompet KDE
Name[ie]=Gerente del Porta-papere de KDE
Name[is]=KDE-veskisumsýslutól
Name[it]=Strumento per la gestione dei portafogli di KDE
Name[ka]=KDE-ის საფულის მართვის ხელსაწყო
Name[ko]=KDE 지갑 관리 도구
Name[lt]=KDE slaptažodinių tvarkymo įrankis
Name[lv]=KDE maku pārvaldības rīks
Name[nl]=KDE hulpmiddel voor portefeuillebeheer
Name[nn]=KDE-verktøy for å handsama lommebøker
Name[pa]=KDE ਵਾਲਟ ਇੰਤਜ਼ਾਮ ਟੂਲ
Name[pl]=Zarządzania portfelem KDE
Name[pt]=Ferramenta de Gestão da Carteira do KDE
Name[pt_BR]=Ferramenta para gerenciamento de carteiras do KDE
Name[ro]=Utilitar KDE de administrat portofele
Name[ru]=Управление бумажниками KDE
Name[sk]=Nástroj pre správu KDE Wallet
Name[sl]=KDE Wallet Management Tool
Name[sv]=KDE:s verktyg för plånbokshantering
Name[tr]=KDE Cüzdan Yönetimi Aracı
Name[uk]=Засіб KDE для керування торбинками
Name[vi]=Công cụ quản lí Ví KDE
Name[x-test]=xxKDE Wallet Management Toolxx
Name[zh_CN]=KDE 密码库管理工具
Name[zh_TW]=KDE 錢包管理工具
Comment=KDE Wallet Management Tool
Comment[ar]=أداة لإدارة محفظة كِيدِي
Comment[az]=KDE Cüzdanı İdarəetmə Vasitəsi
Comment[bg]=Инструмент за управление на портфейла на KDE
Comment[ca]=Eina per a la gestió de carteres del KDE
Comment[ca@valencia]=Eina per a la gestió de carteres de KDE
Comment[cs]=Správce úschovny KDE
Comment[da]=Værktøj til håndtering af KDE's tegnebog
Comment[de]=KDE-Dienstprogramm für Passwörter
Comment[el]=Εργαλείο διαχείρισης πορτοφολιού του KDE
Comment[en_GB]=KDE Wallet Management Tool
Comment[eo]=KDE Monujo-Administra Ilo
Comment[es]=Herramienta de gestión de carteras de KDE
Comment[et]=KDE turvalaeka haldur
Comment[eu]=KDEren zorroa kudeatzeko tresna
Comment[fi]=KDE:n lompakonhallinta
Comment[fr]=Outil de gestion de portefeuilles de KDE
Comment[gl]=Ferramenta de xestión de carteiras de KDE
Comment[he]=כלי לניהול ארנקי KDE
Comment[hu]=KDE Wallet jelszókezelő eszköz
Comment[ia]=Instrumento per gerer portafolio de KDE
Comment[id]=Alat Pengelola Dompet KDE
Comment[ie]=Gerente del Porta-papere de KDE
Comment[is]=KDE-veskisumsýslutól
Comment[it]=Strumento per la gestione dei portafogli di KDE
Comment[ka]=KDE-ის საფულის მართვის ხელსაწყო
Comment[ko]=KDE 지갑 관리 도구
Comment[lt]=KDE slaptažodinių tvarkymo įrankis
Comment[lv]=KDE maku pārvaldības rīks
Comment[nl]=KDE hulpmiddel voor portefeuillebeheer
Comment[nn]=KDE-verktøy for å handtera lommebøker
Comment[pa]=KDE ਵਾਲਟ ਇੰਤਜ਼ਾਮ ਟੂਲ
Comment[pl]=Zarządzania portfelem KDE
Comment[pt]=Ferramenta de Gestão da Carteira do KDE
Comment[pt_BR]=Ferramenta para gerenciamento de carteiras do KDE
Comment[ro]=Utilitar KDE de administrat portofele
Comment[ru]=Управление бумажниками KDE
Comment[sk]=Nástroj pre správu KDE Wallet
Comment[sl]=Orodje za upravljanje z listnicami v KDE
Comment[sr]=КДЕ алатка за управљање новчаницима
Comment[sr@ijekavian]=КДЕ алатка за управљање новчаницима
Comment[sr@ijekavianlatin]=KDE alatka za upravljanje novčanicima
Comment[sr@latin]=KDE alatka za upravljanje novčanicima
Comment[sv]=KDE:s hanteringsverktyg för plånbok
Comment[tr]=KDE Cüzdan Yönetimi Aracı
Comment[uk]=Засіб KDE для керування торбинками
Comment[vi]=Công cụ quản lí Ví KDE
Comment[x-test]=xxKDE Wallet Management Toolxx
Comment[zh_CN]=KDE 密码库管理工具
Comment[zh_TW]=KDE 錢包管理工具
Exec=kwalletmanager5 --kwalletd
Icon=kwalletmanager
Type=Application
StartupNotify=false
NoDisplay=true
X-DocPath=help:/kwallet5/index.html
