[Desktop Entry]
Name=KWalletManager
Name[ar]=مدير محفظتك
Name[ast]=KWalletManager
Name[az]=KWalletManager
Name[bg]=KWalletManager
Name[bs]=KWalletManager
Name[ca]=KWalletManager
Name[ca@valencia]=KWalletManager
Name[cs]=KWalletManager
Name[da]=KWalletManager
Name[de]=KWalletManager
Name[el]=KWalletManager
Name[en_GB]=KWalletManager
Name[eo]=KDE Monujo-Administra Ilo
Name[es]=KWalletManager
Name[et]=Turvalaeka haldur
Name[eu]=KWalletManager
Name[fi]=KWalletManager
Name[fr]=KWalletManager
Name[ga]=KWalletManager
Name[gl]=KWalletManager
Name[he]=KWalletManager
Name[hne]=के-वालेट-मैनेजर
Name[hr]=KWalletManager
Name[hu]=KWalletManager
Name[ia]=Gerente KWallet
Name[id]=KWalletManager
Name[ie]=KWalletManager
Name[is]=KWalletManager
Name[it]=KWalletManager
Name[ja]=KWalletManager
Name[ka]=KWalletManager
Name[kk]=KWalletManager
Name[km]=KWalletManager
Name[ko]=KWalletManager
Name[lt]=KWalletManager
Name[lv]=KWalletManager
Name[mr]=के-वॉलेट व्यवस्थापक
Name[nb]=KWalletManager
Name[nds]=KDE-Knippenpleger
Name[nl]=KWalletManager
Name[nn]=KWalletManager
Name[pa]=ਕੇ-ਵਾਲਟ-ਮੈਨੇਜਰ
Name[pl]=Zarządzanie portfelem
Name[pt]=KWalletManager
Name[pt_BR]=KWalletManager
Name[ro]=KWalletManager
Name[ru]=KWalletManager
Name[sa]=KWalletManager इति
Name[sk]=KWalletManager
Name[sl]=Upravljalnik Listnice za KDE
Name[sq]=KWalletManager
Name[sr]=Менаџер К‑новчаника
Name[sr@ijekavian]=Менаџер К‑новчаника
Name[sr@ijekavianlatin]=Menadžer K‑novčanika
Name[sr@latin]=Menadžer K‑novčanika
Name[sv]=Hanteringsverktyg för plånbok
Name[th]=จัดการกระเป๋าคุมข้อมูล-K
Name[tr]=K Cüzdan Yönetimi Aracı
Name[ug]=KWalletManager
Name[uk]=KWalletManager
Name[vi]=KWalletManager
Name[x-test]=xxKWalletManagerxx
Name[zh_CN]=KWalletManager 密码库管理器
Name[zh_TW]=KDE 錢包管理員
Comment=Store and manage your passwords
Comment[ar]=خزّن كلمات سرك وإدارتها
Comment[bg]=Съхраняване и управление на пароли
Comment[ca]=Emmagatzema i gestiona les vostres contrasenyes
Comment[ca@valencia]=Emmagatzema i gestiona les vostres contrasenyes
Comment[de]=Speichern und verwalten Sie Ihre Passwörter
Comment[es]=Almacenamiento y gestión de contraseñas
Comment[eu]=Zure pasahitzak gorde eta kudeatu
Comment[fi]=Talleta ja hallinnoi salasanoja
Comment[fr]=Enregistrez et gérez vos mots de passe
Comment[gl]=Almacene e xestione contrasinais.
Comment[he]=אחסון וניהול הסיסמאות שלך
Comment[hu]=Jelszavak tárolása és kezelése
Comment[ia]=Immagazina e gere tu contrasignos
Comment[it]=Memorizza e gestisci le tue password
Comment[ka]=შეინახეთ და მართეთ თქვენი პაროლები
Comment[ko]=내 암호를 저장하고 관리
Comment[lv]=Saglabājiet un pārvaldiet paroles
Comment[nl]=Uw wachtwoorden opslaan en beheren
Comment[pt_BR]=Armazene e gerencie suas senhas
Comment[ru]=Хранение паролей и управление ими
Comment[sl]=Shranjuje in upravlja vaša gesla
Comment[sv]=Lagra och hantera lösenord
Comment[tr]=Parolalarınızı depolayın ve yönetin
Comment[uk]=Зберігання ваших паролів та керування ними
Comment[x-test]=xxStore and manage your passwordsxx
Comment[zh_CN]=保存和管理您的密码
Comment[zh_TW]=儲存並管理您的密碼
GenericName=Password Manager
GenericName[ar]=مُدير كلمات السر
GenericName[bg]=Управление на пароли
GenericName[ca]=Gestor de contrasenyes
GenericName[ca@valencia]=Gestor de contrasenyes
GenericName[de]=Passwort-Verwaltung
GenericName[es]=Gestor de contraseñas
GenericName[eu]=Pasahitz-kudeatzailea
GenericName[fi]=Salasanahallinta
GenericName[fr]=Gestionnaire de mots de passe
GenericName[gl]=Xestor de contrasinais
GenericName[he]=מנהל סיסמאות
GenericName[hu]=Jelszókezelő
GenericName[ia]=Gerente de Contrasigno
GenericName[it]=Gestore delle password
GenericName[ka]=პაროლების მმართველი
GenericName[ko]=암호 관리자
GenericName[lv]=Paroļu pārvaldnieks
GenericName[nl]=Wachtwoordbeheerder
GenericName[pt_BR]=Gerenciador de senhas
GenericName[ru]=Диспетчер паролей
GenericName[sl]=Upravljalnik gesel
GenericName[sv]=Lösenordshanterare
GenericName[tr]=Parola Yöneticisi
GenericName[uk]=Менеджер паролів
GenericName[x-test]=xxPassword Managerxx
GenericName[zh_CN]=密码管理器
GenericName[zh_TW]=密碼管理員
Exec=kwalletmanager5 %F
MimeType=application/x-kwallet;
InitialPreference=6
Icon=kwalletmanager
Type=Application
Categories=Qt;KDE;System;Security;
X-DocPath=kwallet5/index.html
DBusActivatable=true
