[Desktop Entry]
Name=Wallet Management Tool
Exec=kwalletmanager --show
MimeType=application/x-kwallet;
InitialPreference=6
Icon=kwalletmanager
Type=Service
X-KDE-StartupNotify=true
