[Desktop Entry]
Type=Service
Exec=kcmshell --caption %c kwalletconfig
Icon=kwalletmanager
DocPath=kwallet/index.html
Name=KDE Wallet
Name[ar]=محفظة كدى
Name[bg]=Портфейл
Name[br]=Doug-paperoù KDE
Name[bs]=KDE novčanik
Name[cs]=Úschovna KDE
Name[cy]=Waled KDE
Name[da]=KDE's tegnebog
Name[de]=Digitale Brieftasche
Name[el]=Πορτοφόλι του KDE
Name[es]=Cartera de KDE
Name[et]=KDE turvalaegas
Name[eu]=KDE Kartera
Name[fi]=Lompakko
Name[fr]=Gestionnaire de comptes de KDE
Name[hi]=केडीई वॉलेट
Name[hu]=Digitális noteszek
Name[is]=KDE veskið
Name[it]=Portafogli di KDE
Name[ja]=KDE ウォレット
Name[kk]=KDE әмияні
Name[km]=កាបូប KDE
Name[lt]=KDE slaptažodinės
Name[mk]=KDE Паричник
Name[nds]=KDE-Knipp
Name[ne]=KDE वालेट
Name[pa]=KDE ਵਾਲਿਟ
Name[pl]=Portfel KDE
Name[pt]=Carteira KDE
Name[pt_BR]=Carteira do KDE
Name[ro]=Portofel KDE
Name[ru]=Бумажник
Name[sl]=Listnica za KDE
Name[sv]=KDE-plånbok
Name[ta]= கேடிஇ வாலட்
Name[tg]=KDE Ҳамён
Name[tr]=KDE Cüzdan
Name[uk]=Торбинки KDE
Name[uz]=KDE qopchiq
Name[uz@cyrillic]=KDE қопчиқ
Name[zh_CN]=KDE 钱包
Name[zh_TW]=KDE 錢包
