[Desktop Entry]
Encoding=UTF-8
Icon=kwalletmanager

Type=Service
ServiceTypes=KCModule

Exec=kcmshell kwalletconfig
DocPath=kwallet/index.html

X-KDE-Library=kcm_kwallet
X-KDE-FactoryName=kcm_kwallet
X-KDE-ParentApp=kcontrol

Name=KDE Wallet
Name[el]=Πορτοφόλι του KDE
Name[fr]=Gestionnaire de comptes de KDE
Name[x-test]=xxKDE Walletxx
Comment=KDE Wallet Configuration
Comment[el]=Ρύθμιση του πορτοφολιού του KDE
Comment[fr]=Configuration du gestionnaire de comptes de KDE
Comment[x-test]=xxKDE Wallet Configurationxx
Keywords=Wallet,Form Fill,Passwords,Form Data
Keywords[el]=Πορτοφόλι,Συμπλήρωση φόρμας,Κωδικοί πρόσβασης,Δεδομένα φόρμας
Keywords[fr]=gestionnaire de comptes,remplissage de formulaire,Mots de passe,Données de formulaire
Keywords[x-test]=xxWallet,Form Fill,Passwords,Form Dataxx
