[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=kcmshell --caption %c kwalletconfig
Icon=kwalletmanager
DocPath=kwallet/index.html
Name=KDE Wallet
Name[x-test]=xxKDE Walletxx
