[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=kcmshell --caption %c kwalletconfig
Icon=kwalletmanager
DocPath=kwallet/index.html
Name=KDE Wallet
Name[bg]=Портфейл
Name[cs]=Úschovna KDE
Name[da]=KDE tegnebog
Name[de]=Digitale Brieftasche
Name[es]=Cartera de KDE
Name[et]=KDE turvalaegas
Name[fi]=Lompakko
Name[fr]=Gestionnaire de comptes de KDE
Name[hu]=Digitális noteszek
Name[it]=Portafogli di KDE
Name[pt]=Carteira KDE
Name[pt_BR]=Carteira do KDE
Name[ru]=Бумажник KDE
Name[sl]=Denarnica KDE
Name[sv]=KDE-plånbok
Name[tr]=KDE Cüzdan
Name[uk]=Торбинки KDE
Name[xx]=xxKDE Walletxx
