[Desktop Entry]
Encoding=UTF-8
Name=Wallet Management Tool
Name[x-test]=xxWallet Management Toolxx
Exec=kwalletmanager --show %u
MimeType=application/x-kde-wallet
InitialPreference=6
Icon=kwalletmanager
Type=Service
X-KDE-StartupNotify=true
