[Desktop Entry]
Icon=kwalletmanager
Type=Application
Exec=kcmshell kwalletconfig
DocPath=kwallet/index.html
X-KDE-ModuleType=Library
X-KDE-Library=kwallet
X-KDE-ParentApp=kcontrol

Name=KDE Wallet
Name[ar]=محفظة كدى
Name[bg]=Портфейл
Name[br]=Doug-paperoù KDE
Name[bs]=KDE novčanik
Name[cs]=Úschovna KDE
Name[cy]=Waled KDE
Name[da]=KDE's tegnebog
Name[de]=Digitale Brieftasche
Name[el]=Πορτοφόλι του KDE
Name[es]=Cartera de KDE
Name[et]=KDE turvalaegas
Name[eu]=KDE Kartera
Name[fi]=Lompakko
Name[fr]=Gestionnaire de comptes de KDE
Name[hi]=केडीई वॉलेट
Name[hu]=Digitális noteszek
Name[is]=KDE veskið
Name[it]=Portafogli di KDE
Name[ja]=KDE ウォレット
Name[kk]=KDE әмияні
Name[km]=កាបូប KDE
Name[lt]=KDE slaptažodinės
Name[mk]=KDE Паричник
Name[nds]=KDE-Knipp
Name[ne]=KDE वालेट
Name[pa]=KDE ਵਾਲਿਟ
Name[pl]=Portfel KDE
Name[pt]=Carteira KDE
Name[pt_BR]=Carteira do KDE
Name[ro]=Portofel KDE
Name[ru]=Бумажник
Name[sl]=Listnica za KDE
Name[sv]=KDE-plånbok
Name[ta]= கேடிஇ வாலட்
Name[tg]=KDE Ҳамён
Name[tr]=KDE Cüzdan
Name[uk]=Торбинки KDE
Name[uz]=KDE qopchiq
Name[uz@cyrillic]=KDE қопчиқ
Name[zh_CN]=KDE 钱包
Name[zh_TW]=KDE 錢包
Comment=KDE Wallet Configuration
Comment[ar]=إعداد محفظة كدى
Comment[bg]=Настройване на системата Портфейл
Comment[br]=Kefluniadur Doug-paperoù KDE
Comment[bs]=Podešavanje KDE novčanika
Comment[ca]=Configuració de carteres KDE
Comment[cs]=Nastavení úschovny KDE
Comment[cy]=Ffurfweddiad Waled KDE
Comment[da]=KDE's indstilling af tegnebog
Comment[de]=Einrichten der "digitalen Brieftasche" (KWallet)
Comment[el]=Ρύθμιση του πορτοφολιού του KDE
Comment[es]=Configuración de la cartera de KDE
Comment[et]=KDE turvalaeka seadistamine
Comment[eu]=KDE Karteraren Konfigurazioa
Comment[fa]=KDE Wallet پیکربندی
Comment[fi]=KDE-lompakon asetukset
Comment[fr]=Configuration du gestionnaire de comptes de KDE
Comment[ga]=Cumraíocht KDE Wallet
Comment[he]=KDE Wallet הגדרות
Comment[hi]=केडीई वॉलेट कॉन्फ़िगरेशन
Comment[hu]=A KDE digitális noteszeinek beállításai
Comment[is]=Stillingar veskisins
Comment[it]=Configurazione portafogli di KDE
Comment[ja]=KDE ウォレットの設定
Comment[ka]=KDE Wallet-ის კონფიგურაცია
Comment[kk]=KDE әмияннің баптауы
Comment[km]=ការកំណត់​រចនា​សម្ព័ន្ធ​កាបូប KDE
Comment[lt]=KDE slaptažodinių konfigūravimas
Comment[mk]=Конфигурација на паричник во KDE
Comment[nb]=Oppsett av KDE Wallet
Comment[nds]=KDE-Knipp instellen
Comment[ne]=KDE वालेट कन्फिगरेसन
Comment[nl]=KDE portefeuille-instellingen
Comment[nn]=Oppsett av KDE Wallet
Comment[pa]=KDE ਵਾਲਿਟ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja Portfela KDE
Comment[pt]=Configuração da Carteira do KDE
Comment[pt_BR]=Configuração da Carteira do KDE
Comment[ro]=Configurează portofelul KDE
Comment[ru]=Параметры бумажника
Comment[sk]=Konfigurácia KDE Wallet
Comment[sl]=Nastavitve Listnice za KDE
Comment[sr]=Подешавање KDE Wallet-а
Comment[sr@Latn]=Podešavanje KDE Wallet-a
Comment[sv]=Inställning av KDE-plånbok
Comment[ta]=கேடிஇ வாலட் வடிவமைப்பு
Comment[tg]=KDE Танзими Ҳамён
Comment[tr]=KDE Cüzdan Ayarı
Comment[uk]=Налаштування KWallet
Comment[uz]=KDE qopchiq xizmatini moslash
Comment[uz@cyrillic]=KDE қопчиқ хизматини мослаш
Comment[zh_CN]=KDE 钱包配置
Comment[zh_TW]=KDE 錢包設定
Keywords=Wallet,Form Fill,Passwords,Form Data
Keywords[ar]=محفظة،ملأ نموذج،كلمات السرّ،بيانات نموذج
Keywords[bg]=портфейл, форми, форма, попълване, данни, парола, пароли, Wallet, Form Fill, Passwords, Form Data
Keywords[bs]=Wallet,Form Fill,Passwords,Form Data,novčanik,formulari,popunjavanje formulara,šifre
Keywords[ca]=Cartera,Ompliment de formularis,Contrasentes,Dades de formularis
Keywords[cs]=úschovna,vyplnění formuláře,hesla,data formuláře
Keywords[cy]=Waled,Llenwi Ffurflen,Cyfrineiriau,Data Ffurflenni
Keywords[da]=Tegnebog,Formularudfyldning,Kodeord,Formular-data
Keywords[de]=Geheimfach,Formular,Passwort,Brieftasche,digitale Brieftasche
Keywords[el]=Πορτοφόλι,Συμπλήρωση φόρμας,Κωδικοί πρόσβασης,Δεδομένα φόρμας
Keywords[es]=Cartera,Rellenar formulario,Contraseña,Datos de formulario
Keywords[et]=Turvalaegas,Vormi täitmine,Paroolid,Vormiandmed
Keywords[eu]=Kartera,Formularioa Bete,Pasahitzak,Formulario Datuak
Keywords[fa]=Wallet، پر کردن برگه، اسم رمزها، دادۀ برگه
Keywords[fi]=Lompakko,Lomakkeen täyttö,Salasanat,Lomaketiedot
Keywords[fr]=gestionnaire de comptes,remplissage de formulaire,Mots de passe,Données de formulaire
Keywords[ga]=Wallet,Líonadh Foirmeacha,Focal Faire,Sonraí foirme
Keywords[hi]=बटुआ,फ़ॉर्म फिल,पासवर्ड,फ़ॉर्म डाटा
Keywords[hu]=digitális notesz,űrlapkitöltés,jelszavak,űrlapadatok
Keywords[it]=portafogli,wallet,riempimento moduli,moduli,form,password,dati moduli
Keywords[ja]=ウォレット,フォームフィル,パスワード,フォームデータ
Keywords[ka]=Wallet,ფორმის შევსება,პაროლები,ფორმათა მონაცემები
Keywords[km]=កាបូប,ការបំពេញ​សំណុំ​បែបបទ,ពាក្យ​សម្ងាត់,ទិន្នន័យ​សំណុំ​បែបបទ
Keywords[lt]=Wallet, slaptažodinė,Form Fill,Passwords,Form Data,formų pildymas,slaptažodžiai,formų duomenys
Keywords[mk]=Wallet,Form Fill,Passwords,Form Data, Паричник, формулар, лозинки
Keywords[nb]=Wallet,Skjemautfylling,Passord,Skjema
Keywords[nds]=Knipp,Formulor,Passwöör,Formulordaten
Keywords[ne]=वालेट,फारम भराइ,पासवर्ड,फारम डेटा
Keywords[nl]=Wallet,gegevens,portefeuille,wachtwoorden,veilig bewaren van wachtwoorden,invulgegevens,formulieren
Keywords[nn]=wallet,skjemautfylling,passord,skjema
Keywords[pa]=Wallet,Form Fill,ਗੁਪਤ-ਕੋਡ,ਫਾਰਮ ਡਾਟਾ
Keywords[pl]=portfel,wypełnianie formularzy,uzupełnianie formularzy, hasła, hasło,dane formularzy, formularze
Keywords[pt]=Carteira,Preenchimento de Formulários,Senhas,Dados do Formulário
Keywords[pt_BR]=carteira,preenchimento de formulário,senhas,dados de formulário
Keywords[ro]=portofel,completare formulare,parole,date formular,formular
Keywords[ru]=Wallet,Form Fill,Passwords,Form Data,Бумажник,Пароли,Формы
Keywords[sk]=wallet,formuláre,heslá,dáta z formulárov,schránka,peňaženka
Keywords[sl]=waller,denarnica,gesla,obrazec,podatki,geslo,listnica
Keywords[sr]=Wallet,Form Fill,Passwords,Form Data,лозинке,новчаник
Keywords[sr@Latn]=Wallet,Form Fill,Passwords,Form Data,lozinke,novčanik
Keywords[sv]=Plånbok,fyll i formulär,lösenord,formulärdata
Keywords[ta]=வாலட், படிவ நிரப்பு, கடவுச் சொற்கள், படிவ தகவல்
Keywords[tg]=Ҳамён,Пуркунии Варақа,Гузарвожаҳо,Варақаи Додаҳо
Keywords[tr]=Cüzdan,Form Doldur,Şifreler,Form Verisi
Keywords[uk]=Торбинка,Заповнення форм,Паролі,Дані форм
Keywords[zh_CN]=Wallet,Form Fill,Passwords,Form Data,钱包,填充表单,密码,表单数据

Categories=Qt;KDE;X-KDE-settings-security;
